/* reset css */
:root {
    --light_black: #334141;
    --dark_black: #333e48;
}

body,
html {
    outline: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

div,
ul,
header,
section,
nav,
footer,
main {
    box-sizing: border-box;
    position: relative;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    /* border: 1px solid red; */
    margin: auto;
}

/* header part css start */
#header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.369);
}


#header .content {
    display: flex;
}

#header .content .greetings {
    /* border: 1px solid red; */
}

#header .content .greetings p {
    color: var(--light_black);
    font-size: 14px;
    margin: 15px 0px;
}

#header .content .short_links {
    /* border: 1px solid rgb(0, 26, 255); */
    flex: 1;
}

#header .content .short_links ul {
    height: 100%;
    display: flex;
    /* border: 1px solid green; */
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
}

#header .content .short_links ul li {}

#header .content .short_links ul li i {
    color: var(--light_black);
    font-size: 14px;
}

#header .content .short_links ul li a {
    color: var(--light_black);
    font-size: 14px;
    transition-duration: .3s;
    font-weight: 400;
}

#header .content .short_links ul li a:hover{
    color: var(--dark_black);
    font-weight: 600;
}